@import '../../../../utils/desktop.scss';

.screen {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .mainContent {
    flex: 1;
    width: 95%;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .questionCol {
      width: 45%;
      margin-right: 5%;
      height: 85%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

      &.mediaQuestion {
        margin-right: 0%;
      }

      .questionImage {
        width: 100%;
        height: 27.5%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &.mediaQuestion {
          height: 45%;
        }
      }

      .questionVideo {
        width: 100%;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.mediaQuestion {
          height: 45%;
        }
      }

      .questionAudio {
        @extend .questionImage;
        height: 35%;
        align-items: flex-end;
        border: none;

        .audio {
          width: 85%;
          audio {
            width: 100%;
            height: 4vmax;
          }
        }
      }

      .questionText {
        width: 85%;
        flex: 1;
        pointer-events: none;
        touch-action: none;
        user-select: none;
        -webkit-user-select: none;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 1.7vmax;
        word-break: break-all;
      }

      .answerCountDown {
        width: 35%;
        height: 30%;

        .countDown {
          width: 100%;
          height: 100%;
          font-size: 2.5vmax;
        }
      }
    }

    .answerCol {
      width: 45%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .answerList {
        width: 80%;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .answerContainer {
          width: 100%;
          height: 17.5%;
          margin-bottom: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          outline: none;
          max-height: 5.5vmax;

          .answerItem {
            @extend .button;
            width: 90%;
            height: 100%;
            border: 0.15vmax solid white;
            border-radius: 7.5vmax;
            transform: scale(0.01, 0.01);
            transform-origin: center;
            transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.05);

            &.display {
              transform: scale(1, 1);
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .answerImage {
              position: absolute;
              width: 100%;
              height: 100%;
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center !important;
            }

            .answerText {
              width: 100%;
              height: 100%;
              font-size: 1.25vmax;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;
              pointer-events: none;
              touch-action: none;
              user-select: none;
              -webkit-user-select: none;
              white-space: normal;
              overflow-wrap: break-word;
              text-align: center;
              overflow: hidden;
              padding: 0 2%;
            }

            .percentage {
              margin-right: 5%;
              flex-shrink: 0;
            }

            &.selected {
              border-color: #01ecfc;
              box-shadow: inset 0 0 3.5vmax 1vmax #01ecfca1, 0 0 1vmax 0 #01ecfc;
            }

            &.correct {
              border-color: #01fcb8;
              box-shadow: none;
            }

            &.incorrect {
              border-color: #ff4065;
              box-shadow: none;
            }

            .statusIcon {
              position: absolute;
              right: -1.25vmax;
              top: -1.25vmax;
              width: 3vmax;
              height: 3vmax;
              border-radius: 50%;
              color: white;
              font-size: 1.75vmax;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;

              &.correct {
                background: #01fcb8;
              }

              &.incorrect {
                background: #ff4065;
              }
            }

            .animationContainer {
              position: absolute;
              width: 100%;
              height: 100%;

              #points {
                position: absolute;
                width: 11vmax;
                height: 11vmax;
                left: -6.5vmax;
                top: -7.5vmax;
              }

              .pointsLabel {
                left: -1.75vmax;
                top: -3vmax;
                width: 1.6vmax;
                height: 1.6vmax;
                border-radius: 50%;
                color: white;
                font-size: 0.75vmax;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                background: rgba(172, 0, 125, 0.3);
                border: 0.35vmax solid #ff00bd;
                position: absolute;

                background: rgba(172, 0, 125, 0.3);
                position: absolute;
                animation: anime-points 1s forwards linear;
              }
            }
          }

          &:nth-child(1) {
            .answerItem {
              transition-delay: 0.125s;
            }
          }

          &:nth-child(2) {
            .answerItem {
              transition-delay: 0.25s;
            }
          }

          &:nth-child(3) {
            .answerItem {
              transition-delay: 0.375s;
            }
          }

          &:nth-child(4) {
            .answerItem {
              transition-delay: 0.5s;
            }
          }
        }

        &.isImageBased {
          width: 100%;
          justify-content: space-around;
          flex-direction: row;

          .answerContainer {
            width: 42.5%;
            height: 30%;
            margin-bottom: 20%;
            max-height: 12.5vmax;

            .answerItem {
              border-radius: 0;

              .answerText {
                top: 105%;
                position: absolute;
                padding: 0;
                height: auto;
                display: flex;
                flex-direction: column;
                font-size: 1.1vmax;
                word-break: break-all;

                .percentage {
                  width: 100%;
                  text-align: center;
                  margin: 0;
                  margin-top: 1%;
                }
              }

              &.selected {
                .answerImage {
                  box-shadow: inset 0 0 3.5vmax 1vmax #01ecfca1, 0 0 1vmax 0 #01ecfc;
                }
              }

              &.correct {
                .answerImage {
                  box-shadow: none;
                }
              }

              &.incorrect {
                .answerImage {
                  box-shadow: none;
                }
              }
            }
          }
        }
      }

      .bottomBar {
        width: 80%;
        height: 12%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 8%;

        .submitBtn {
          @extend .button;
          width: 35%;
          height: 100%;
          padding: 0;
          font-weight: normal;
          color: white;
          background: linear-gradient(to right, #01ecfc, #002ad8);
          border-radius: 5vmax;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 2vmax;

          &.disable {
            pointer-events: none;
            color: #6f6f74;
            border: 0.2vmax solid #6f6f74;
            background: rgba(56, 56, 65, 0.25);
          }
        }

        .noAnswer {
          @extend .submitBtn;
          width: 50%;
          background: transparent;
          flex-direction: row;
          .textIcon {
            font-size: 5vmax;
            font-weight: bold;
            margin-right: 0.5vmax;
          }
        }

        .answerStatus {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1.5vmax;

          .answerStatusIcon {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: inline-block;
            margin-right: 1vmax;
            width: 2vmax;
            height: 2vmax;
          }

          &.answerStatusCorrect {
            color: #01fcb8;

            .answerStatusIcon {
              background-image: url('../../../../../assets/images/answer-status-correct-icon.svg');
            }
          }

          &.answerStatusIncorrect {
            color: #ff4065;

            .answerStatusIcon {
              background-image: url('../../../../../assets/images/answer-status-incorrect-icon.svg');
            }
          }
        }
      }
    }
  }
}
