.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  // Properties needed for screen transition

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
