.additionInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 0.5vmin solid white;
    outline: none;
    color: white;
    padding-bottom: 1vmin;
    font-size: 6vmin;
    text-align: center;
    height: auto;

    &::placeholder {
      color: #6f6f74;
    }
  }

  select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 0.5vmin solid white;
    outline: none;
    color: white;
    padding-bottom: 1vmin;
    font-size: 5.5vmin;
    text-align: center;
    height: auto;
    text-align-last: center;

    &:focus {
      outline: none;
    }

    &::-ms-expand {
      display: none;
    }

    option {
      background: black;
      color: #6f6f74;
      font-size: 4vmin;
    }
  }

  .groupInput {
    width: 67.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    .line {
      height: 0.75vmin;
      width: 0%;
      bottom: 0;
      background: #01ecfc;
      display: inline-block;
      transition: 0.3s width ease-in-out;
      position: absolute;
      box-shadow: 0 0 1vmin #01ecfc;
    }

    .tooltip {
      bottom: -6vmin;
      position: absolute;
      font-size: 4vmin;
      color: #6f6f74;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
    }

    & input:focus ~ .line {
      width: 105%;
      background-color: #01ecfc;
    }

    & input:focus ~ .tooltip {
      visibility: visible;
      opacity: 1;
    }

    & select:focus ~ .line {
      width: 105%;
      background-color: #01ecfc;
    }

    & select:focus ~ .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  .inputRow {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .title {
      font-size: 5vmin;
      margin-bottom: 5vmin;
    }

    .groupCommon {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 80%;
      align-items: flex-end;
      margin-bottom: 7.5%;

      .label {
        font-weight: bold;
        font-size: 4vmin;
        margin-bottom: 1vmin;
        width: 25%;
        text-align: left;
      }

      .groupLine {
        @extend .groupInput;
        width: 75%;
      }

      .groupSelectLine {
        @extend .groupInput;
        width: 75%;
      }
    }
  }

  .buttons {
    width: 100%;
    height: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nextBtn {
      padding: 2.5% 8% 2.5% 8%;
      font-weight: normal;
      color: #6f6f74;
      border: 0.8vmin solid #6f6f74;
      border-radius: 10vmin;
    }
  }

  .logo {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../assets/icons/logo.svg');
  }
}
