@import "animations.scss";

.button {
  cursor: pointer;
  transition: transform 0.1s;
  user-select: none;
  outline: none;

  &:active {
    transform: scale(0.9);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}