@import '../../utils/index.scss';

.screen {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;

  .label {
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
  }

  .space {
    margin: 0 auto;
  }

  .header {
    width: 100%;
    height: 10%;
    background: #1a1a29;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      margin-left: 2%;
      height: 100%;
      color: white;
      font-size: 2.5vw;
      font-weight: bold;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }

    .resetBtn {
      @extend .button;
      background: linear-gradient(to right, #dc751e, #6e3b0f);
      padding-left: 2.5%;
      border-radius: 0.5vw;
      margin-right: 1.5vw;
      padding-right: 2.5%;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      font-size: 1vw;
    }
  }

  .divider {
    width: 100%;
    height: 5%;
    background: linear-gradient(to right, #dc751e, #6e3b0f);
  }

  .main {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .upPanel {
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      width: 95%;
      height: 15%;
      display: flex;
      flex-direction: row;

      &.isXeo {
        width: 78%;
      }

      .fanCount {
        width: 25%;
        height: 100%;
        margin-right: 2.5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1vw;
        background: #1a1a29;

        .label {
          font-size: 2vw;
          margin-left: 2vw;
        }

        .count {
          @extend .label;
          margin-right: 2vw;
        }
      }

      .timerCol {
        width: 75%;
        height: 100%;
        border-radius: 1vw;
        background: #1a1a29;
        display: flex;
        flex-direction: row;
        align-items: center;

        .freePlayLabel {
          font-size: 2vw;
          font-weight: bold;
          margin-left: 1.25vw;
          width: 100%;
          .freePlayInfo {
            width: 100%;
            font-size: 1.5vw;
            display: flex;
            text-transform: capitalize;

            span {
              width: 30%;
            }
          }
        }

        .nextBtn {
          @extend .button;
          background: linear-gradient(to right, #01ecfc, #002ad8);
          padding-left: 2vw;
          padding-right: 2vw;
          padding-top: 0.4vw;
          padding-bottom: 0.4vw;
          font-size: 1.25vw;
          border-radius: 0.75vw;
          margin-left: 1vw;
          margin-right: 2.5%;
        }
      }
    }

    .downPanel {
      margin-bottom: 1.5%;
      width: 95%;
      height: 77.5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .leftPanel {
        width: 64%;
        height: 94%;
        background: #1a1a29;
        border-radius: 1vw;
        margin-right: 3%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.isXeo {
          width: 80%;
          margin-right: 0;
        }

        .upRow {
          width: 100%;
          height: 37.5%;
          display: flex;
          flex-direction: row;

          .showPercentageCol {
            width: 45%;
            display: flex;
            flex-direction: column;
            margin-left: 2.5%;
          }

          .verticalLine {
            border-left: 0.15vw solid #6f6f74;
            margin-right: 2.5%;
          }

          .currentQuestion {
            width: 47.5%;

            .currentQuestionText {
              @extend .label;
              width: 100%;
              height: 15%;
              margin-bottom: 2.5%;
            }

            .currentQuestionContent {
              width: 100%;
              height: 80%;
              background: rgba(56, 56, 65, 0.9);
              border-radius: 0.75vw;
              overflow: hidden;
            }
          }
        }

        .horizonLine {
          width: 100%;
          margin-top: 1.5%;
          margin-bottom: 1.5%;
          border-bottom: 0.15vw solid #6f6f74;
        }

        .downRow {
          width: 100%;
          height: 55%;
          display: flex;
          flex-direction: row;

          .questionListCol {
            width: 57.5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 1%;

            .questionLabel {
              @extend .label;
              height: 20%;
              font-size: 1.75vw;
            }

            .questionListWrapper {
              width: 94%;
              height: 80%;
              background: rgba(56, 56, 65, 0.9);
              display: flex;
              flex-direction: column;
              align-items: center;
              border-radius: 0.75vw;
              padding: 2% 3% 2% 3%;

              .questionList {
                width: 100%;
                height: 100%;
                overflow-y: scroll;

                .questionItem {
                  width: 97%;
                  height: 2.5vw;
                  margin-bottom: 0.5vw;
                  background: rgba(101, 101, 101, 0.42);
                  border: 0.2vw solid rgba(111, 111, 116, 1);
                  border-radius: 0.5vw;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  cursor: pointer;

                  .questionTitle {
                    margin-left: 2%;
                    color: white;
                    font-size: 1.25vw;
                    font-weight: bold;
                  }

                  .space {
                    margin: 0 auto;
                  }

                  .questionIcon {
                    margin-right: 2.5%;
                    width: 7%;
                    height: 85%;
                    margin-top: 2%;

                    &.isMultiple {
                      margin-top: 0%;
                      background: white;
                      mask-repeat: no-repeat;
                      mask-position: center;
                      mask-size: contain;
                      mask-image: url('../../../assets/icons/multiple_question.svg');
                    }
                  }

                  &.selected {
                    border-color: #01ecfc;
                    background: rgba(56, 56, 65, 0.25);
                    box-shadow: inset 0 0 2.5vw rgba(0, 255, 255, 0.5), 0 0 0.2vw rgba(0, 255, 255, 0.16);
                  }
                }
              }
            }
          }

          .verticalLine {
            margin-left: 2%;
            border-left: 0.15vw solid #6f6f74;
            margin-right: 0.5%;
          }

          .questionDetailCol {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .questionLabel {
              @extend .label;
              width: 95%;
              height: 17.5%;
              font-size: 1.75vw;
            }

            .answerList {
              width: 90%;
              height: 82.5%;
              margin-left: 5%;
              .answerItem {
                width: 95%;
                height: 2.5vw;
                background: rgba(105, 105, 105, 0.44);
                border: 0.2vw solid transparent;
                border-radius: 0.75vw;
                display: flex;
                align-items: center;
                margin-bottom: 0.75vw;

                .space {
                  margin: 0 auto;
                }

                .answerCheckbox {
                  width: 1.5vw;
                  height: 1.5vw;
                  border-radius: 50%;
                  margin-right: 0.75vw;
                  color: white;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &.selected {
                    background: rgba(56, 56, 65, 0.25);
                    box-shadow: inset 0 0 1vw rgba(0, 255, 255, 0.5), 0 0 0.2vw rgba(0, 255, 255, 0.16);

                    &::before {
                      content: '✔';
                    }
                  }
                }

                .answerTitle {
                  margin-left: 0.5vw;
                  font-size: 1vw;
                  font-weight: bold;
                }

                &.selected {
                  border-color: #44cee3;
                  box-shadow: 0 0 0.2vw rgba(0, 255, 255, 0.16);
                }
              }
            }
          }
        }
      }

      .rightPanel {
        width: 30%;
        height: 94%;
        background: #1a1a29;
        border-radius: 1vw;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
