.screen {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .leaderboardBar {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .leaderboardText {
      font-size: 3vmax;
      margin: 0 auto;
    }
  }

  .mainContent {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .leaderboardItem {
      width: 45%;
      height: 20%;
      font-size: 4vmin;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .no {
        width: 10%;
      }

      .userName {
        width: 40%;
      }

      .space {
        margin: 0 auto;
      }

      .points {
        position: relative;
        text-align: right;
        font-weight: bold;
        #spark {
          width: 9vmax;
          height: 9vmax;
          position: absolute;
          transform: translate(-20%, -30%);
        }
      }
    }

    .leaderboardList {
      width: 90%;
      height: 65%;
      display: flex;
      flex-direction: column;
      padding-top: 2.5%;
      flex-wrap: wrap;
      padding-bottom: 2.5%;
      border-bottom: 0.6vmin solid #ffffff;
      align-items: center;
    }
    .leaderboardList:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 16.5vh;
      bottom: 0;
      left: 50%;
      border-left: 0.6vmin solid #ffffff;
      transform: translate(-50%);
      height: 48vh;
    }

    .myRank {
      width: 70%;
      margin-top: 2.5%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .rankLabel {
        font-size: 3vmin;
        width: 30%;
      }

      .leaderboardItem {
        height: fit-content;
      }
    }
  }
}
