.configTextArea {
  width: 100%;
  position: relative;
  textarea {
    color: white !important;
    height: 5vw !important;
    background: #35353e !important;
    border: none !important;
    font-size: 0.9vw !important;
  }
}
