.configInput {
  width: 100%;
  position: relative;

  input {
    width: 95% !important;
    color: white !important;
    height: 2.25vw !important;
    background: #35353e !important;
    border: none !important;
    font-size: 0.9vw !important;
  }
}
